/* Basic reset */
* {
	margin: 0;
	padding: 0;


	font: 16px Lucida Sans, Belleza, sans-serif;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

button {
	font-family: Orbitron, Helvetica, Arial, sans-serif;

	background: #363;
	color: #fff;
	border-radius: 10px;
	border: 0px;
	padding: 0px 1px;
	height: 50px;
	line-height: 1.5em;
	font-weight: 700;
	width: 100px;
	margin: 5px;	
	font-size: .8em;
}

button:hover {
	background: #633;
}

#exclusiveCard
{
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding: 9px;
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 10px;
	box-shadow: 0px 2px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.5);
	display: none;
}


#cardList {
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding: 9px;
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 10px;
	box-shadow: 0px 2px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.5);
	display:block;
}


.card {
	height: auto;
	width: 98%;
	margin: 1em  auto 1em;
	padding: .5em .5em;
	background: #fff;
	background: linear-gradient(#fff, #ddd);
	border-radius: 10px;
	box-shadow: 0px 2px #888, 0px 10px 15px rgba(0, 0, 0, 0.5);
	clear:both;
	overflow: hidden;
}

.cardHeader {
	color: #fff;
	font-variant: small-caps;
	font-weight: 700;
	font-size: 30pt;
	font-family: Orbitron, Helvetica, Arial, sans-serif;
	border-radius:10px;
	clear:both;
	overflow: hidden;

	padding: 0.2em;
}

.cardFluff {
	font-style:italic;
	font-size: 16pt;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3em;
	padding-right: 3em;

	text-decoration:
	clear:both;
	overflow: hidden;
}

.cardItem {
	font-size: 16pt;
	clear:both;
	overflow: hidden;

	padding-top: .25em;
	padding-bottom: .25em;
}

.bold {
	font-size: 16pt;
	font-weight: 700;
}


a {
	background-color:#fff;
	border-radius:16px;
	color:#000;
	margin:0;
	padding:2px 8px;
	text-decoration:none;
	vertical-align:center;
}

a:hover {
	background-color:#633;
	color:#FFF;
}

#help {
	font-size: 15pt;
	display:none;
	padding: 2em;
	margin: .5em;
	border:5px solid #c81931;
	border-radius: 10px;

}

#help ul, li { 
	list-style: disc; 
	font-size: 15pt;
	padding-left: 0.6em; 
	margin-left: 0.6em; 
} 

#rules {
	font-size: 15pt;
	display:none;
	padding: 2em;
	margin: .5em;
	border:5px solid #7cba4f;
	border-radius: 10px;
}

#rules ul, li { 
	list-style: disc; 
	font-size: 15pt;
	padding-left: 0.6em; 
	margin-left: 0.6em; 
} 

#footer {
	background:#eee;
	clear:both;
	margin-top:1em;
	padding:10px;
	text-align:center;

	font-size: 1.2em;
	font-weight:400;

}

#footer p {
	padding-bottom: .5em;
	width: 90%;
	margin: 0 auto;
}

.icon {
	height: 48px;
	width: 48px;
	vertical-align:middle;
}

h1 {
	color:rgba(0,0,0,0.6);
	font-size:1.8em;
	font-weight:700;
	margin:40px 0 5px;
}

h2 {
	font-size:1.2em;
	color:rgba(0,0,0,0.6);
	font-weight:700;
	margin: .5em;
}