/* Basic reset */
* {
	margin:0;
	padding:0;
	font:16px Lucida Sans,Belleza,sans-serif;
	box-sizing:border-box;
	text-rendering:optimizeLegibility;
}
html {
	height:100%;
	background:#fff;
	background:radial-gradient(circle,#fff20%,#ccc);
	background-size:cover;
}
em {
	font-weight:700;
	font-size:1em;
	color:#c81931;
}
button {
	font-family:Orbitron,Helvetica,Ari	al,sans-serif;
	font-weight:700;
		background:#363;
	color:#fff;
	border-radius:10px;
	border:0;
	padding:0 0px;
	height:55px;
	line-height:1.5em;
	width:100px;
	margin:7px 3px;
	font-size:15px;
	vertical-align:middle;
	cursor: pointer;
}
button:disabled {
	/* color:#ddd;background-color:#666;*/
	opacity:0.4;
	filter:alpha(opacity=40);
	/* For IE8 and earlier */
}
#buttonSub,#buttonAdd {
	width:70px;
	font-size:17px;
}
button:hover:disabled {
	background:#363;
}
button:hover {
	background:#633;
}
#victoryPoints {
	font-size:50px;
	font-family:Orbitron,Helvetica,Arial,sans-serif;
	font-weight:700;
	float:right;
	margin:10px;
}
#exclusiveCard {
	width:100%;
	height:auto;
	margin:0 auto;
	padding:9px;
	background:#9dd2ea;
	background:linear-gradient(#9dd2ea,#8bceec);
	border-radius:10px;
	box-shadow:0 2px #009de4,0 10px 15px rgba(0,0,0,0.5);
	display:none;
}
#cardList {
	width:100%;
	height:auto;
	margin:0 auto;
	padding:9px;
	background:#9dd2ea;
	background:linear-gradient(#9dd2ea,#8bceec);
	border-radius:10px;
	box-shadow:0 2px #009de4,0 10px 15px rgba(0,0,0,0.5);
	display: block;
}
.card {
	height:auto;
	width:98%;
	margin:1em auto;
	padding:.5em;
	background:#ddd;
	background:linear-gradient(#fff,#ccc);
	/*	url(icons/hex.png);*/
	border-radius:10px;
	box-shadow:0 2px #888,0 10px 15px rgba(0,0,0,0.5);
	clear:both;
	overflow:hidden;
}
.cardHeader {
	color:#fff;
	font-variant:small-caps;
	font-weight:700;
	font-size:24pt;
	font-family:Orbitron,Helvetica,Arial,sans-serif;
	border-radius:10px;
	clear:both;
	overflow:hidden;
	vertical-align:middle;
	letter-spacing:.0675em;
	padding:8px 5px 5px;
	margin:0;
	text-rendering:optimizeLegibility;
	cursor:pointer;
}
.cardText {
	font-size:16pt;
	padding-top:1em;
	padding-bottom:1em;
	clear:both;
	overflow:hidden;
}
.cardFluff {
	font-style:italic;
	font-size:16pt;
	text-align:center;
	padding:1em 3em 1em 3em;
	clear:both;
	overflow:hidden;
}
.cardItem {
	font-size:16pt;
	clear:both;
	overflow:hidden;
	padding-top:.25em;
	padding-bottom:.25em;
}
.bold {
	font-size:16pt;
	font-weight:700;
}
a {
	background-color:#fff;
	border-radius:16px;
	color:#000;
	margin:0;
	padding:2px 8px;
	text-decoration:none;
	vertical-align:middle;
}
a:hover {
	background-color:#633;
	color:#FFF;
}
#help {
	font-size:15pt;
	display:none;
	padding:2em;
	margin:.5em;
	border:5px solid #c81931;
	border-radius:10px;
	background:#ddd;
	background:linear-gradient(#fff,#ccc);
}
#help ul,li {
	list-style:disc;
	font-size:15pt;
	padding-left:.6em;
	margin-left:.6em;
}
#rules {
	font-size:15pt;
	display:none;
	padding:2em;
	margin:.5em;
	border:5px solid #7cba4f;
	border-radius:10px;
	background:#ddd;
	background:linear-gradient(#fff,#ccc);
}
#rules ul,li {
	list-style:disc;
	font-size:15pt;
	padding-left:.6em;
	margin-left:.6em;
}
#footer {
	background:#eee;
	clear:both;
	margin-top:1em;
	padding:10px;
	text-align:center;
	line-height:21px;
	font-size:14px;
	font-weight:400;
}
#footer p {
	padding-bottom:.5em;
	width:90%;
	margin:0 auto;
}
.icon {
	height:64px;
	width:64px;
	vertical-align:middle;
}
h1 {
	font-size:21pt;
	font-weight:700;
	margin:10px;
	padding:0;
}
h2 {
	font-size:18pt;
	font-weight:700;
	margin:36px 5px 0;
}
h3 {
	font-size:14pt;
	font-weight:700;
	margin:28px 5px 0;
}
h4 {
	font-size:14pt;
	font-weight:400;
	margin:12px 5px 0;
}
p {
	font-size:14pt;
	font-weight:400;
	margin:0 5px 10px;
}
.timestamp {
	font-size:1em;
	font-weight:400;
	margin:1em;
}
.smallLine {
	font-size:.7em;
	font-weight:400;
	margin:.7em 1em;
}
table {
	font-size:70%;
	text-align:center;
	width:80%;
	margin-left:10%;
	margin-right:10%;
}
th {
	border-radius:5px;
	color:#FFF;
	font-weight:700;
	background-color:#4571b1;
	padding:5px;
	margin:4px;
}
td {
	border-radius:5px;
	color:#000;
	font-weight:700;
	background-color:#fff;
	padding:3px;
	margin:4px;
}
#menu {
	background:#eee;
	text-align:center;
	color:white;
}
.collapse {
	display:none;
}
input {
	border:1px solid #ccc;
	font-size:20px;
	width:70px;
	min-height:30px;
	margin-bottom:5px;
	margin-top:5px;
	outline:none;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
fieldset {
	margin:5px 0px 10px 0px;
	color:#363;
	background-color:#9C9;
	text-align:center;
}
legend {
	font-weight:bold;
	font-family:Orbitron,Helvetica,Arial,sans-serif;
	text-align: center;
}
label {
	display:inline-block;
	margin-top:5px;
	line-height:1.8;
	vertical-align:top;
	width:150px;
	/* Width of labels */
	text-align:left;
}
fieldset label {
}
:invalid {
	border:2px solid #ff0000;
}
#fsSettings {
	display: none;
}